{% extends 'base.html.twig' %}

{% block main %}
    <div>
        <h1>Purpose, Goal & Habit Tracker</h1>
        <p class="lead">Supercharge your life by tracking the things you wish to achieve.</p>
    </div>
{% endblock %}