{% extends 'base.html.twig' %}

{%  block main %}

    <table>
        <tr>
            <th>id</th><th>Goal</th>
        </tr>
        {% if results|length > 0%}
            {% for item in results %}
                <tr>
                    <td>{{ item.getId }}</td><td>{{ item.getDescription }}</td><td><a href="{{ path('add_habit', {'id': item.getId}) }}"><button class="btn" >Add Habit</button></a></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2">No matching results found!</td>
            </tr>
        {% endif %}
    </table>

{%  endblock %}


{#<a href="{{ path('delete_route_name', {'id': entity.id }) }}">Delete</a>#}