body {
    background-color: lightgray;
}

.main {
    margin-top: 20px;
}

/*USED FOR SIDE NAV*/

.wrapper {
    display: flex;
    width: 100%;
}
.card-deck .card {
    flex: 0 0 30%;
}

#purpose-dashboard .card {
    flex: 1 0 0;
}
/*.card {*/
/*    flex: 0 0 50px;*/
/*    !*width: 50px;*!*/
/*    !*max-width: ;*!*/
/*    !*color: #7386D5;*!*/
/*}*/

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    /*transition: all 0.3s;*/
}

    #sidebar.active {
        margin-left: -250px;
    }

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

#content {
    width: calc(100% - 250px);
    /*transition: all 0.3s;*/
    position: relative;
    top: 0;
    left: 250px;
}

#content.active {
    width: 100%;
    left: 0;
}
/*https://stackoverflow.com/questions/32862394/bootstrap-modals-keep-adding-padding-right-to-body-after-closed*/
body:not(.modal-open){
    padding-right: 0px !important;
}

.modal-open {
    overflow: inherit;
    padding-right: 0 !important;
}

.table-scroll {
    /*position: relative;*/
    /*width:100%;*/
    z-index: 1;
    /*margin: auto;*/
    overflow: auto;
}
.table-scroll table {
    /*width: 100%;*/
    /*min-width: 1280px;*/
    margin: auto;
    /*border-collapse: separate;*/
    /*border-spacing: 0;*/
}
.table-wrap {
    /*position: relative;*/
}
.table-scroll th,
.table-scroll td {
    padding: 5px 10px;
    /*border: 1px solid #000;*/
    /*background: #fff;*/
    vertical-align: top;
}
.table-scroll thead th {
    /*background: #333;*/
    /*color: #fff;*/
    /*position: -webkit-sticky;*/
    /*position: sticky;*/
    /*top: 0;*/
}
.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background: #666;
    color: #fff;
    z-index:4;
}

th:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
    background: #f2f2f2;
}
thead th:first-child,
tfoot th:first-child {
    z-index: 5;
}

.current-date {
    background:     #0da7d6;
}

.table-inline {
    display: inline-block;
}
